In [1]:
import pandas as pd
df_iris = pd.read_csv('iris.csv')
df_iris

     sepal-length  sepal-width  petal-length  petal-width            Class
0             5.1          3.5           1.4          0.2      Iris-setosa
1             4.9          3.0           1.4          0.2      Iris-setosa
2             4.7          3.2           1.3          0.2      Iris-setosa
3             4.6          3.1           1.5          0.2      Iris-setosa
4             5.0          3.6           1.4          0.2      Iris-setosa
..            ...          ...           ...          ...              ...
151          12.5          3.1           5.1          1.8   Iris-virginica
152          13.4          2.7           5.1          1.8   Iris-virginica
153          13.2          3.2           5.1          1.8  Iris-versicolor
154          15.2          2.3           5.1          1.8  Iris-versicolor
155          14.2          2.4           5.1          1.8  Iris-versicolor

[156 rows x 5 columns]

In [7]:
df_iris['Class'].value_counts()

Iris-versicolor    53
Iris-virginica     53
Iris-setosa        50
Name: Class, dtype: int64

In [8]:
df_iris.mean()

/var/folders/jw/wfnvwxns2bg4xxnn27nhk53h0000gn/T/ipykernel_35842/1911200167.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_iris.mean()

sepal-length    6.158824
sepal-width     3.051282
petal-length    3.807051
petal-width     1.221795
dtype: float64

In [11]:
 df_iris.groupby('Class').mean()

                 sepal-length  sepal-width  petal-length  petal-width
Class
Iris-setosa          5.004255     3.434000      1.454000     0.244000
Iris-versicolor      6.403774     2.762264      4.307547     1.352830
Iris-virginica       6.937736     2.979245      5.526415     2.013208

In [12]:
 df_iris.describe()

       sepal-length  sepal-width  petal-length  petal-width
count    153.000000   156.000000    156.000000   156.000000
mean       6.158824     3.051282      3.807051     1.221795
std        1.702457     0.437955      1.753783     0.757185
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.350000
75%        6.500000     3.325000      5.100000     1.800000
max       15.200000     4.400000      6.900000     2.500000

In [14]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [16]:
df = pd.read_csv('weather.csv')
df

,年月日,平均気温(℃),平均気温(℃).1,平均気温(℃).2,最高気温(℃),最高気温(℃).1,最高気温(℃).2,最低気温(℃),最低気温(℃).1,最低気温(℃).2,...,平均雲量(10分比).2,平均蒸気圧(hPa),平均蒸気圧(hPa).1,平均蒸気圧(hPa).2,平均風速(m/s),平均風速(m/s).1,平均風速(m/s).2,日照時間(時間),日照時間(時間).1,日照時間(時間).2
0,NaN,NaN,品質情報,均質番号,NaN,品質情報,均質番号,NaN,品質情報,均質番号,...,均質番号,NaN,品質情報,均質番号,NaN,品質情報,均質番号,NaN,品質情報,均質番号
1,2019/12/14,9.3,8,1,15.9,8,1,3.2,8,1,...,1,NaN,0,1,2.0,8,1,8.9,8,1
2,2019/12/15,7.8,8,1,11.1,8,1,4.0,8,1,...,1,NaN,0,1,2.3,8,1,6.3,8,1
3,2019/12/16,6.9,8,1,12.5,8,1,1.3,8,1,...,1,NaN,0,1,1.1,8,1,8.9,8,1
4,2019/12/17,8.2,8,1,10.3,8,1,5.7,8,1,...,1,NaN,0,1,1.1,8,1,0.2,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,2020/12/10,8.7,8,1,11.1,8,1,6.0,8,1,...,1,NaN,0,1,1.4,8,1,0.0,8,1
364,2020/12/11,9.2,8,1,13.8,8,1,3.5,8,1,...,1,NaN,0,1,0.8,8,1,4.3,8,1
365,2020/12/12,10.4,8,1,14.0,8,1,8.0,8,1,...,1,NaN,0,1,1.4,8,1,1.4,8,1
366,2020/12/13,8.6,8,1,14.4,8,1,4.4,8,1,...,1,NaN,0,1,1.0,8,1,5.5,8,1
367,2020/12/14,7.8,8,1,12.2,8,1,4.4,8,1,...,1,NaN,0,1,1.9,8,1,4.4,8,1

In [17]:
df.fillna(0)

,年月日,平均気温(℃),平均気温(℃).1,平均気温(℃).2,最高気温(℃),最高気温(℃).1,最高気温(℃).2,最低気温(℃),最低気温(℃).1,最低気温(℃).2,...,平均雲量(10分比).2,平均蒸気圧(hPa),平均蒸気圧(hPa).1,平均蒸気圧(hPa).2,平均風速(m/s),平均風速(m/s).1,平均風速(m/s).2,日照時間(時間),日照時間(時間).1,日照時間(時間).2
0,0,0.0,品質情報,均質番号,0.0,品質情報,均質番号,0.0,品質情報,均質番号,...,均質番号,0.0,品質情報,均質番号,0.0,品質情報,均質番号,0.0,品質情報,均質番号
1,2019/12/14,9.3,8,1,15.9,8,1,3.2,8,1,...,1,0.0,0,1,2.0,8,1,8.9,8,1
2,2019/12/15,7.8,8,1,11.1,8,1,4.0,8,1,...,1,0.0,0,1,2.3,8,1,6.3,8,1
3,2019/12/16,6.9,8,1,12.5,8,1,1.3,8,1,...,1,0.0,0,1,1.1,8,1,8.9,8,1
4,2019/12/17,8.2,8,1,10.3,8,1,5.7,8,1,...,1,0.0,0,1,1.1,8,1,0.2,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,2020/12/10,8.7,8,1,11.1,8,1,6.0,8,1,...,1,0.0,0,1,1.4,8,1,0.0,8,1
364,2020/12/11,9.2,8,1,13.8,8,1,3.5,8,1,...,1,0.0,0,1,0.8,8,1,4.3,8,1
365,2020/12/12,10.4,8,1,14.0,8,1,8.0,8,1,...,1,0.0,0,1,1.4,8,1,1.4,8,1
366,2020/12/13,8.6,8,1,14.4,8,1,4.4,8,1,...,1,0.0,0,1,1.0,8,1,5.5,8,1
367,2020/12/14,7.8,8,1,12.2,8,1,4.4,8,1,...,1,0.0,0,1,1.9,8,1,4.4,8,1

In [18]:
df.to_csv("export.csv")